@font-face{
    font-family: ApplePomme;
    src:
    url(../../assets/font/SFNSText-Regular.otf);
    
};
html{
    scroll-behavior: smooth;
    }
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: ApplePomme;
    
};
body {
    background-color: black;
    
}
section {
    padding: 120px 15% 100px;
}