@font-face{
    font-family: ApplePomme;
    src:
    url(../../assets/font/SFNSText-Regular.otf);
    
};
html{
    scroll-behavior: smooth;
    }
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: ApplePomme;
    
};
main {
    background-color: rgb(32, 32, 32);
    backdrop-filter: blur(15px);
    
}
section {
    padding: 120px 15% 100px;
}

