.skills {
       
    
    &__text {
        color: white;
        text-align: center;
    }

    &__text h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    &__text h3 {
        font-size: 1.2rem;
        margin-bottom: 4rem;
    }
   
   &__layout {
    box-sizing: border-box;
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(250px, auto));
       
       gap: 2rem;
       margin-bottom: 10rem;
       
    }
    &__layout div {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
        border-radius: 1rem;
        cursor: pointer;
        //transition: all ease .50s;
        
    
        
        
        
    }
    &__layout div img {
       max-width: 50%;

    }
    &__technos {
        box-shadow:  8px 8px 16px #1b1b1b,
             -8px -8px 16px #252525;
             
    }
    &__technos h3+p {
        display: none;
    }
    &__technos h3+p:hover {
        display: none;
    }

    //&__technos:hover {
    //transform: scale(1.1) translateY(- 0.4rem);
    //background-color: rgba(255, 255, 255, 0.5);
    //backdrop-filter: blur(5px);
    //border: 1px solid white;
//
    //}

}


//.skills__technos:hover h3,
//.skills__technos:hover p {
//    opacity: 1;
//    color: white;
//    display: block;
//    
//}