.home {
    position: relative;
    min-height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &__text h3{
        color: white;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1rem;

    }
    &__text h1 {
        color: white;
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }
    &__text h4 {
        color: white;
        font-size: 1rem;
        margin-bottom: 3.5rem;
    }
    &__btn{
        appearance: none;
        display: inline-block;
        //padding: 1rem 3rem;
        height: 84px;
        width: 168px;
        border-left: 1px solid white;
        border-top: 1px solid white;
        color: white;
        cursor: pointer;
        border-right: 4px solid white ;
        border-bottom: 8px solid white;
        background-color: black;
        border-radius: 0.1rem;
    

    }
    &__btn:active {
        border: none;
        margin-bottom: 8px;
        transition: all ease-in-out 0.1s;
    }

}