.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    height: 10vh;
    width: 100%;
    background-color: black;
    box-shadow: 0 0 2px white;
    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 8%;
    }
    &__logo {
        color: white;
       
    }
    &__list {
        
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    &__list li a {
        color: white;
        text-decoration: none;
    }
}
.menu {
    font-size: 42px;
    background-image: url(../../assets/icon/Menuwhite.svg);
    z-index: 1001;
    cursor: pointer;
    width: 42px;
    height: 42px;
    display: none;
    
}