.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    height: 10vh;
    width: 100%;
    background-color: black;
    box-shadow: 0 0 2px white;
    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 8%;
    }
    &__logo {
        color: white;
       
    }
    &__list {
        text-align: center;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        
        z-index: 0;
       opacity: 0;
    }
    .closed {
        position: absolute;
        right: 5%;
        top: -150rem;
        list-style-type: none;
        z-index: 500;
        
    }
    .show {
        position: absolute;
        top: 10vh;
        right: 0;
        width: 100%;
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.5);
        background-image: url(../../assets/icon/Maui.svg);
        background-repeat: no-repeat;
        background-position:0 100%;
        //background-size: cover;
        
        -webkit-backdrop-filter: saturate(70%) blur(40px);
        backdrop-filter: saturate(70%) blur(40px);
        
        z-index: 300;
        transition: all ease-in-out 0.5s;
        list-style-type: none;
    }
    &__list li a {
        color: white;
        text-decoration: none;
        margin-right: 8rem;
        
    }
    &__list li a:hover {
        border-bottom: solid 1px #ff4d005b;
        transition:  0.9s linear;
    }
    &__img {
        height: 5rem;
        width: 5rem;
    }
}
.menu {
    font-size: 42px;
    background: url(../../assets/icon/Menuwhite.svg), black;
    z-index: 1001;
    cursor: pointer;
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 0.1rem;
    transition: all ease-in-out 0.1s;
    
}
.menu:hover {
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    border-top: 1px solid white;
    border-left: 1px solid white;
}
.menu:active {
 border: none;
}