.works {
    
    &__title {
        text-align: center;
         color: white;
    }
    &__title h2{
        font-size: 2.5rem;
        margin-bottom: 1rem;
       
    }
    &__title h3 {
        font-size: 1.2rem;

    }
    &__projects {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin-top: 4rem;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       // border: 1px solid white;
        border-radius: 1rem;
        cursor: pointer;
        transition: all ease .50s;
        box-shadow:  8px 8px 16px #1b1b1b,
             -8px -8px 16px #252525;
        
    }
    &__item:hover {
        transform: scale(1.1) translateY(- 0.4rem);
        -webkit-box-shadow: 0px 22px 39px -10px rgba(133,133,133,1);
        -moz-box-shadow: 0px 22px 39px -10px rgba(133,133,133,1);
        box-shadow: 0px 22px 39px -10px rgba(133,133,133,1);
        
    }
    &__item h3 {
        color: white;
        margin-bottom: 1rem;
    }
    &__item p {
        color: white;
        margin-bottom: 2rem;
    }
    &__item button {
        
        margin-bottom: 2rem;
    }
    &__framebox {
     
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 75.25%;
    
}
&__framebox iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    border: 1px solid white;
    bottom: 0;
    transform: translate(-12.5%, -12.5%) scale(0.25);
    transform-origin: 0 0;
    width: 350%;
    height: 300%;
    border-radius: 1rem;
}
}


