.contact__socials {
    position: absolute;
    left: 0rem;
    top:11vh;
}
.contact__socials ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}
.contact__socials ul li {
    width: 3rem;
    height: 3rem;
    //border: 1px solid white;
    border-radius: 0.2rem;
    background-color: rgb(0, 0, 0);

}
.contact__socials ul li:hover{
padding-left: 2rem;
transition: all ease-in-out 0.5s;
background-color: rgba(0, 0, 0, 0.266);
backdrop-filter: blur(2px);
-webkit-box-shadow: 14px 2px 24px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 14px 2px 24px 0px rgba(0,0,0,0.75);
box-shadow: 14px 2px 24px 0px rgba(0,0,0,0.75);
}
